################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlexSignerService/.vs/FlexSignerService
/FlexSignerService/bin/x64/Debug
/FlexSignerService/packages
/TestApp/bin/Debug/LOG
